<h1>Welcome to the Cloudspokes Google Prediction API Challenge</h1>
<h2>You need to perform these steps</h2>
<ol>
	<li><%= link_to "Upload", uploads_path %> the data exports</li>
	<li><%= link_to "Download", uploads_generate_prediction_data_path %> the prediction data</li>
	<li><%= link_to "Query", query_path %> the prediction api</li>
</ol>